.outer{
    height: 100vh;
}
.panel-heading{
    text-align: center;
    margin-bottom: 10px;
    PADDING: 21PX;
}
#forget{
    min-width: 100px;
    margin-left: auto;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    text-decoration: none;
}

.form-inline label{
    padding-left: 10px;
margin: 0;
cursor: pointer;
}

.btn{
    margin-top: 20px;
    border-radius: 15px;
}

.panel{
    margin-top: 148px;
    min-height: 381px;
    box-shadow: 20px 20px 80px rgb(218, 218, 218);
    border-radius: 12px;
 
}
.input-field{
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #4343FF;
}
.input-field.error{
    border: 1px solid red;
    color: red;
}

input[type='text'],
input[type='password']{
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
}
.fa-eye-slash.btn{
    border: none;
    outline: none;
    box-shadow: none;
}

img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

.bordert{
    border-top: 1px solid #aaa;
position: relative;
}
.bordert:after{
    content: "or connect with";
    position: absolute;
    top: -13px;
    left: 33%;
    background-color:#fff ;
    padding: 0 8px;

}


.discount-price{
    font-size: 18px;
    WIDTH: 109% !important;
    margin-left: -7px !important;
}
.see-more{
    width: 18% !important;
    font-size: 11px !important;
    margin-right: -15px !important;
    margin-left: 25px !important;
}

.date{
    display: flex;
    justify-content: end;
    margin-top: -18px;
}

.menu-item{
    width: 93% !important;
    background: #fff !important;
    padding: 25px !important;
    border-radius: 8px !important;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1) !important;
    margin-left: 44px  !important;
}

.menu-content{
    
    margin-top: 20px !important;
}
.form-control{
    width: 100%;
    height: 38px;
    text-align: center;
    padding: 3px 12px 0;
    border-color: #fff;
}
.adresse{
    font-size: 18px;
    margin-left: 28px;
}
.button-searsh{

    background-color: #6277fe;
    color: white;
    font-size: 18px;
    border: 2px solid #6277fe;
    border-radius: 5px;
    height: 38px;
    padding: 5px;
}
.filter{
    font-size: 18px;
    margin-top: 47px;
    border-top: 2px solid #2bade7;
    padding-top: 15px;
    font-weight: 600;
    margin-bottom: 5px;
    padding-left: 5px;
}
input::placeholder{
    font-size: 16px;
    color: #28506d !important
}
input{
    font-size: 16px;
    color: #28506d !important;
}
form{
    
    display: flex;
    /* row-gap: 12px; */
    gap: 49px;
}
.flex{
    margin-top: 4%;
    display: flex;
    /* row-gap: 12px; */
    gap: 49px;  
}
.jobs{
   
    margin-top: 9% !important;
    margin-left: 26%;
    margin: 10px 0px;
    background: #344f6d;
    padding: 16px;
    box-shadow: none!important;
    max-width: 112%;
    border-color: #28506d;
    height: 81px;
    width: 109%;
    margin-left: -43px;
}

.annonces{
    color: rgb(43, 174, 231);
    font-size: 24px;
    font-weight: 400;
    margin-bottom: -7px;
    text-transform: none;
    margin-left: 81px;
    font-family: 'Roboto Slab', serif;
    padding-top: 17px;
}
i{
    color: #00b6ed;
}
.h4{
    color: #adadad !important;
    font-size: 37px !important;
    font-weight: 400 !important;
    text-align: center !important;
    margin-top: -8% !important;
}
.search{
    position: relative;
    top: 0px;
}
.filter{
    font-size: 18px;
    margin-top: 47px;
    border-top: 2px solid #2bade7;
    padding-top: 15px;
    font-weight: 600;
    margin-bottom: 5px;
    padding-left: 5px;
}
.search-zone{
    min-height: 100px;
    padding-top: 10px;
    background: #4785ff;
    padding: 10px;
    margin-top: 16px;
}
.button-filter{
    width: 99%;
    background: #37526f;
    color: white;
    font-size: 18px;
    border: 2px solid #2b536f;
    border-radius: 5px;
    height: 38px;
    padding: 5px;
}
.date{
    font-size: 15px;
}
.choose{
    display: block;
    height: 2%;
    margin-right: -99px;
    margin-top: -10px;
}

.map-container {
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    margin: 30px;
    height: 40% !important;
    }


  

.modal-content{
 
    position: relative;
    display: flex;
    flex-direction: column;
    width: 172% !important;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
    left: -35% !important;
  }
  .close{
    border: none;
    background: none;
    font-size: 144%;
}
.fade {
    opacity: 0;
    transition: opacity .15s linear;
}
.modal-backdrop.show {
    opacity: .5;
}
.modal-backdrop.fade {
    opacity: 0;
}
.fade.show {
    opacity: 1;
}
.my-modal {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 0;
    }

.activ{
    display: flex;
    justify-content: space-around;
}
    .ligne{
        
    display: flex;
    justify-content: space-between;
    font-size: 19px;
    padding: 25px;
    margin-top: -50px;

    }

    #map {
        height: 400px;
        width: 100%;
        max-width: 600px;
      }
      
.action{
    font-size: 30px;
    color: red;
    margin-left: 14%;
    cursor: pointer;
  }
  
  .liste-a{
    
      /* display: grid; */
     
    margin-top: 20px !important;
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: -20px !important;
    grid-auto-rows: minmax(100px, auto) !important;
    WIDTH: 111% !important;
    margin-left: 167px;
  }
  i{
    cursor: pointer;
    font-size: 26px;
    margin-left: -45PX;
  }